@use '../../mixins' as *;
@use '../../presets' as *;
@use 'sass:math';

.about
{
    background-color: $color-gray-light;

    @include lg-min
    {
        min-height: 691px;
    }
    @include lg-md
    {
        min-height: 661px;
    }
    @include md-sm
    {
        min-height: 687px;
    }
    @include sm
    {
        min-height: 1056px;
    }

    &__header
    {
        font-family: $font-header;
        font-weight: 700;

        margin: 0;
        padding: 0;

        letter-spacing: .1em;

        color: #2d3651;

        @include lg-min
        {
            font-size: 2.5rem;
        }
        @include lg-md
        {
            font-size: 2rem;
        }
        @include md
        {
            font-size: 1.5rem;
        }
        @include sm
        {
            text-align: center;
        }
    }

    &__container
    {
        position: relative;

        height: 100%;

        @extend %container;
        @include lg-min
        {
            gap: $gap * 2.5;
        }
        @include lg-md
        {
            gap: $gap-x2;
        }
        @include md-sm
        {
            display: grid;

            gap: $gap-sm;
            grid-template-columns: 1fr 1px 236px;
        }
        @include md-min
        {
            display: grid;

            grid-template-columns: 1fr 1px 271px;
        }
        @include sm
        {
            display: flex;
            flex-direction: column;

            align-items: center;
            gap: $gap-sm;
        }
    }

    &-overlay
    {
        background-color: #e5e5e5;
    }

    &-text
    {
        position: relative;

        overflow-x: hidden;

        width: 100%;

        letter-spacing: .055em;

        @include lg-min
        {
            font-size: 1.125rem;

            margin-top: $gap-x5;
        }
        @include lg-md
        {
            margin-top: 85px;
        }
        @include md
        {
            margin-top: $gap-x3;
        }

        &__clause
        {
            overflow: hidden;

            letter-spacing: .055em;

            @include lg-min
            {
                margin-top: 25px;
            }
            @include lg-md
            {
                margin-top: $gap;
            }
            @include md-sm
            {
                margin-top: $gap * .75;
            }
            @include sm
            {
                margin-top: $gap * .75;
            }
        }

        &__image
        {
            display: flex;

            width: 100%;
            height: 100%;

            border: none;
            background-repeat: no-repeat;
            background-size: contain;

            justify-content: center;
            @include lg-min
            {
                margin-top: 102px;
            }
            @include lg-md
            {
                margin-top: 90px;
            }
            @include md-sm
            {
                margin-top: 130px;
            }
            @include sm
            {
                width: 271px;
                height: 487px;
                margin-top: -$gap-sm;
            }
        }

        &__line
        {
            width: 0;
            height: 200px;
           
            border: 1px solid rgba(#707070, .27);

            @include lg-min
            {
                margin-top: 235px;
            }
            @include lg-md
            {
                margin-top: 195px;
                margin-left: $gap;
            }
            @include md-sm
            {
                margin-top: 145px;
               
            }
            @include sm
            {
                display: none;
            }
        }
    }
}
