@use '../../mixins' as *;
@use '../../presets' as *;
@use 'sass:math';

.form
{
    background-color: $color-primary;

    &__container
    {
        height: 100%;

        @extend %container;
    }

    &-content
    {
        display: grid;

        padding: $gap-lg 0;

        gap: $gap;
        @include md-min
        {
            grid-template-columns: repeat(3, 1fr);
        }
        @include md-sm
        {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item
        {
            font-size: 1.125rem;
            font-weight: 400;

            display: block;

            width: 100%;
            height: $gap-x3;
            padding: 0 $gap-lg;

            transition: background-color .5s, border-color .5s;
            letter-spacing: .11em;

            color: $color-light;
            border: 2px solid rgba($color-light, 0);
            border-bottom-color: rgba($color-light, .25);
            background-color: rgba($color-light, .05);
            &[name='name']
            {
                @include md-sm
                {
                    grid-column: 1 / span 2;
                }
            }

            &:focus
            {
                border-color: rgba($color-light, .15);
                border-bottom: 2px solid $color-light;
                background-color: rgba($color-light, .15);
                &::placeholder
                {
                    color: lighten($color-gray, 15%);
                }
            }

            &:hover
            {
                border-color: rgba($color-light, .15);
                border-bottom: 2px solid $color-light;
                background-color: rgba($color-light, .15);
                &::placeholder
                {
                    color: lighten($color-gray, 15%);
                }
            }

            &::placeholder
            {
                letter-spacing: .15em;

                color: $color-gray;
            }
            &--btn
            {
                display: flex;

                width: 100%;
                padding-right: 1em;
                padding-left: 1em;

                transition: background-color .5s;
                letter-spacing: .1em;

                color: $color-light;
                border-color: rgba($color-light, 0);
                border-bottom-color: rgba($color-light, .2);
                background-color: rgba($color-light, .1);

                justify-content: center;
                align-items: center;

                &:hover
                {
                    cursor: pointer;

                    border: 2px solid $color-light;
                    background-color: $color-accent;
                }
                &:focus
                {
                    cursor: pointer;

                    border: 2px solid $color-light;
                    background-color: $color-accent;
                }
            }
        }
    }

    &-overlay
    {
        background-color: $color-primary;
    }
}
