@use '../../mixins' as *;
@use '../../presets' as *;
@use 'sass:math';

.posts
{
    @include lg-min
    {
        margin-top: $gap-x5;
        margin-bottom: $gap-x5;
    }
    @include lg-md
    {
        margin-top: $gap-x4;
        margin-bottom: $gap-x4;
    }
    @include md
    {
        margin-top: $gap-x3;
        margin-bottom: $gap-x3;
    }

    &__actions
    {
        display: flex;

        @extend %container;
        justify-content: center;
    }

    &-header
    {
        font-family: $font-header;
        font-weight: 700;

        letter-spacing: .1em;

        color: $color-primary;

        @extend %container;
        @include lg-min
        {
            font-size: 2.5rem;

            margin-bottom: $gap * 2.5;
        }
        @include lg-md
        {
            font-size: 2rem;

            margin-bottom: 45px;
        }
        @include md
        {
            font-size: 1.5rem;

            margin-bottom: 35px;
        }
        @include sm
        {
            text-align: center;
        }
    }

    &__container
    {
        display: grid;

        margin-bottom: $gap;

        @extend %container;
        gap: $gap;
        @include lg-min
        {
            grid-template-areas: 'b1 b1 b2 b3' 'b4 b5 b6 b6';
            grid-template-columns: repeat(4, 1fr);
        }
        @include lg-md
        {
            grid-template-areas: 'b1 b1 b2' 'b3 b4 b4' 'b5 b5 b6';
            grid-template-columns: repeat(3, 1fr);
        }
        @include md-sm
        {
            grid-template-areas: 'b1 b2' 'b3 b4' 'b5 b6';
            grid-template-columns: repeat(2, 1fr);
        }
        @include sm
        {
            grid-template-areas: 'b1' 'b2' 'b3' 'b4' 'b5' 'b6';
            grid-template-columns: 1fr;
        }
    }

    &-item
    {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-direction: column;

        width: 100%;
        height: 100%;

        background-color: $color-primary;

        &__link
        {
            display: flex;

            width: 100%;

            transition: color .5s;

            justify-content: center;
            align-items: center;
            @include lg-min
            {
                height: 540px;
            }
            @include lg-md
            {
                height: 520px;
            }
            @include md-sm
            {
                height: 540px;
            }
            @include sm
            {
                height: 480px;
            }
        }

        &:hover
        {
            .posts-item__image
            {
                transform: scale(1.1);
            }

            .posts-item__text
            {
                background-color: darken(#eee, 20%) !important;
            }
        }

        &:focus
        {
            .posts-item__image
            {
                transform: scale(1.1);
            }

            .posts-item__text
            {
                background-color: darken(#eee, 20%) !important;
            }
        }

        &__image
        {
            height: 300px;

            transition: transform .5s;

            background-position: center;
            background-size: cover;

            @include abs-position;
        }

        &__text
        {
            position: absolute;
            top: 300px;

            display: grid;

            padding: $gap;

            transition: background-color .5s;

            color: #637588;

            align-content: center;
            @include lg-min
            {
                height: 245px;
            }
            @include lg-md
            {
                height: 220px;
            }
            @include md-sm
            {
                height: 240px;
            }
            @include sm
            {
                height: 180px;
            }

            &--title
            {
                font-size: 1.125rem;

                margin: 1em;

                text-align: center;
            }

            &--article
            {
                overflow: hidden;

                margin: 1em;

                text-align: center;
            }
        }
    }
}

@for $i from 1 through 6
{
    .posts-item:nth-of-type(#{$i})
    {
        grid-area: b#{$i};
    }
}
