@use '../../mixins' as *;
@use '../../presets' as *;
@use 'sass:math';

.about
{
    background-color: $color-gray-light;

    @include lg-min
    {
        // min-height: 652px;
        min-height: 691px;
    }
    @include lg-md
    {
        // min-height: 563px;
        min-height: 661px;
    }
    @include md-sm
    {
        // min-height: 479px;
        min-height: 687px;
    }
    @include sm
    {
        min-height: 1056px;
    }

    &__header
    {
        font-family: $font-header;
        font-weight: 700;

        margin: 0;
        padding: 0;

        letter-spacing: .1em;

        color: #2d3651;

        @include lg-min
        {
            font-size: 2.5rem;
        }
        @include lg-md
        {
            font-size: 2rem;
        }
        @include md
        {
            font-size: 1.5rem;
        }
        @include sm
        {
            text-align: center;
        }
    }

    &__container
    {
        position: relative;

        height: 100%;

        @extend %container;
        @include lg-min
        {
            gap: $gap * 2.5;
        }
        @include lg-md
        {
            gap: $gap;
        }
        @include md-sm
        {
            gap: $gap-sm;
        }
        @include sm-min
        {
            display: grid;

            grid-template-columns: 1fr 1px 271px;
        }
        @include sm
        {
            display: flex;
            flex-direction: column;

            align-items: center;
            gap: $gap-sm;
        }
    }

    &-overlay
    {
        background-color: #e5e5e5;
    }

    &-text
    {
        position: relative;

        overflow-x: hidden;

        width: 100%;

        @include lg-min
        {
            margin-top: $gap-x5;
        }
        @include lg-md
        {
            margin-top: $gap-x4;
        }
        @include md
        {
            margin-top: $gap-x3;
        }
        @include md-min
        {
            font-size: 1.125rem;
        }

        &__clause
        {
            overflow-y: scroll;

            @include lg-min
            {
                max-width: 936px;
                max-height: 320px;
                margin-top: $gap-lg;
            }
            @include lg-md
            {
                max-width: 630px;
                max-height: 315px;
                margin-top: $gap;
            }
            @include md-sm
            {
                max-width: 414px;
                max-height: 275px;
                margin-top: $gap * .75;
            }
            @include sm
            {
                max-width: 532px;
                max-height: 315px;
                margin-top: $gap * .75;
            }
        }

        &__image
        {
            display: flex;

            border: none;
            background-size: contain;

            justify-content: center;
            @include lg-min
            {
                width: 271px;
                height: 487px;
                margin-top: 102px;
                padding-right: $gap * 2.5;
            }
            @include lg-md
            {
                width: 255px;
                height: 459px;
                margin-top: 92px;
                margin-left: $gap-sm;
            }
            @include md-sm
            {
                width: 236px;
                height: 425px;
                margin-top: 130px;
                margin-left: 35px;
            }
            @include sm
            {
                width: 271px;
                height: 487px;
            }
        }

        &__line
        {
            width: 0;
            height: 200px;

            border: 1px solid rgba(#707070, .27);

            @include lg-min
            {
                margin-top: 245px;
            }
            @include lg-md
            {
                margin-top: 190px;
            }
            @include md-sm
            {
                margin-top: 145px;
                margin-left: 35px;
            }
            @include sm
            {
                display: none;
            }
        }
    }
}
