@use '../../mixins' as *;
@use '../../presets' as *;
@use 'sass:math';

.footer {
  position: relative;
  background-color: #2d3651;
  min-height: 250px;

  &__container {
    @extend %container;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    @include abs-position;
    top: 25px;
  }

  &-icons {
    margin-top: 35px;
    display: flex;
    gap: 15px;

    &__link {
      

      display: flex;
      width: 100%;
      height: 100%;
     
     

      justify-content: center;
      align-items: center;
    }

    &__item {
      margin-top: 5px;
      transition: background-color 0.5s;
      width: 36px;
      height: 36px;
      background-size: contain;
      background-color: #ffffff;
      border-radius: 5px;
      margin-bottom: -5px;
      &:hover {
        background-color: $color-accent;
      }

      &:focus {
        background-color: $color-accent;
      }

    }

    
  }

  &__line {
   
    height: 0px;
    width: 75px;
    border: 1px solid rgba(#ffffff, 0.1);

    
      margin-top: 5px;
    

    // @include md-sm {
    //   margin-top: 5px;
    // }





  }

  &__text {
    text-align: center;
    text-transform: uppercase;

    
      margin-top: -5px;
    

    // @include md-sm {
    //   margin-top: -5px;
    // }




    &--sm {
      letter-spacing: 0.33em;
      font-weight: 100;
      margin: 0;
      padding: 0;
      margin-left: 10px;
    }

    &--lg {
      margin: 0;
      padding: 0;
      letter-spacing: 0.05em;
      font-weight: 700;
      color: #ffffff;
    }
  }
}
