@use '../../mixins' as *;
@use '../../presets' as *;
@use 'sass:math';

.footer
{
    position: relative;

    min-height: 250px;

    background-color: #2d3651;

    &__container
    {
        top: 25px;

        display: flex;
        flex-direction: column;

        @extend %container;
        gap: 23px;
        align-items: center;
        @include abs-position;
    }

    &-icons
    {
        display: flex;

        margin-top: $gap-x3;

        gap: 19px;

        &__link
        {
            display: flex;

            width: 100%;
            height: 100%;

            transition: color 1s;

            justify-content: center;
            align-items: center;
        }
    }

    &__line
    {
        width: 75px;
        height: 0;
        margin-top: $gap-sm2;

        border: 1px solid rgba(#fff, .1);
    }

    &__text
    {
        margin-top: -$gap-sm2;

        text-align: center;
        text-transform: uppercase;

        &--sm
        {
            font-weight: 100;

            margin: 0;
            margin-left: $gap-sm;
            padding: 0;

            letter-spacing: .33em;
        }

        &--lg
        {
            font-weight: 700;

            margin: 0;
            padding: 0;

            letter-spacing: .05em;

            color: #fff;
        }
    }
}

.fab
{
    font-size: 36px;

    transition: color 1s;

    &:hover
    {
        color: $color-accent;
    }

    &:focus
    {
        color: $color-accent;
    }
}
