@use '../../mixins' as *;
@use '../../presets' as *;
@use 'sass:math';

.footer
{
    position: relative;

    min-height: 250px;

    background-color: #2d3651;

    &__container
    {
        top: 25px;

        display: flex;
        flex-direction: column;

        @extend %container;
        gap: 25px;
        align-items: center;
        @include abs-position;
    }

    &-icons
    {
        display: flex;

        margin-top: 35px;

        gap: 15px;

        &__link
        {
            display: flex;

            width: 100%;
            height: 100%;

            justify-content: center;
            align-items: center;
        }

        &__item
        {
            width: 36px;
            height: 36px;
            margin-top: math.div($gap, 4);
            margin-bottom: - math.div($gap, 4);

            transition: background-color .5s;

            border-radius: math.div($gap, 4);
            background-color: #fff;
            background-size: contain;
            &:hover
            {
                background-color: $color-accent;
            }

            &:focus
            {
                background-color: $color-accent;
            }
        }
    }

    &__line
    {
        width: 75px;
        height: 0;
        margin-top: math.div($gap, 4);

        border: 1px solid rgba(#fff, .1);
    }

    &__text
    {
        margin-top: - math.div($gap, 4);

        text-align: center;
        text-transform: uppercase;

        &--sm
        {
            font-weight: 100;

            margin: 0;
            margin-left: $gap-sm;
            padding: 0;

            letter-spacing: .33em;
        }

        &--lg
        {
            font-weight: 700;

            margin: 0;
            padding: 0;

            letter-spacing: .05em;

            color: #fff;
        }
    }
}
