@use '../../mixins' as *;
@use '../../presets' as *;


.header-menu
{
    z-index: 2;

    @include abs-position;
    @include md
    {
        background-color: rgba($color-gray-dark, .25);
    }

    &__container
    {
        display: grid;

        gap: $gap;
        grid-template-columns: auto 1fr;
        align-items: center;
        @extend %container;
    }
}
