@use '../../mixins' as *;
@use '../../presets' as *;

.header-content
{
    position: relative;
    z-index: 3;

    &__actions
    {
        display: flex;

        justify-content: center;
        gap: $gap;
        @include md-sm
        {
            margin-bottom: -2px;
        }
        @include sm
        {
            flex-direction: column;

            align-items: center;
        }
    }
    &__container
    {
        display: grid;

        @extend %container;
        @include md
        {
        }
    }

    &__title
    {
        text-align: center;

        @include lg-min
        {
            margin: 0 0 53px;
        }
        @include lg-md
        {
            margin: 0 0 44px;
        }
        @include md-sm
        {
            margin: 0 0 34px;
        }
        @include sm
        {
            margin: 0 0 33px;
        }
    }
}
