@use '../../mixins' as *;
@use '../../presets' as *;

.header-menu
{
    z-index: 4;

    @include abs-position;

    &__container
    {
        display: grid;

        grid-template-columns: auto 1fr;
        align-items: center;
        @extend %container;
        @include md
        {
            background-color: rgba($color-gray-dark, .25);
        }
    }
}
